<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=p\roblem3R运行配置rsc\rip"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="problem3"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="scrip"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/problem3"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>